<div class="col-md-8 col-md-offset-1">
  <h2>New Meeting</h2>
  <form name="form" (ngSubmit)="f.form.valid && createMeeting()" #f="ngForm" novalidate>
  <div class="form-group">
    <label for="inputName">Meeting Name</label>
    <input type="text" class="form-control" id="inputName" [(ngModel)]="newMeeting.MeetingName" name="MeetingName" placeholder="name">
  </div>
  <div class="form-group">
    <label for="inputDesc">Meeting Description</label>
    <textarea type="text" rows="5" class="form-control" id="inputDesc" [(ngModel)]="newMeeting.Desc" name="Desc" placeholder="Description"></textarea>
  </div>
    <div class="form-group">
      <label for="fromdate">Start Time</label>
      <input type="date"  class="form-control" id="fromdate" [(ngModel)]="newMeeting.FromDate" name="fromdate">
    </div>
    <div class="form-group">
      <label for="todate">End Time</label>
      <input type="date"  class="form-control" id="todate" [(ngModel)]="newMeeting.ToDate" name="todate">
    </div>
    <div class="form-group">
      <label for="duration">Duration Hours</label>
      <input type="number" class="form-control" id="duration" [(ngModel)]="newMeeting.durationHours" name="todate">
    </div>
    <div class="form-group">
      <label>Participants List</label> {{newMeeting.ParticipantsList.length}}
      <ul class="participantList">
        <li *ngFor="let Participant of newMeeting.ParticipantsList; let i = index" class="participantItem row">
          <select [(ngModel)]="Participant.UserId" class="form-control input-group-lg reg_name liItemLeft" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
          </select>
          <button (click)="removeParticipant(i)" class="btn btn-sm btn-danger">-</button>
          <button (click)="addParticipant()" *ngIf="i == newMeeting.ParticipantsList.length -1" class="btn btn-sm btn-success">+</button>
        </li>
      </ul>

    </div>
  <button type="submit" class="btn btn-primary">Lets meet!</button>
  </form>
</div>
