<h1>המלצות המערכת:</h1>
<div *ngIf="loading" class="loader"></div>
<div *ngIf="!loading">
  <div class="[ form-group ]"  *ngFor="let suggestion of suggestions; let i = index;">
    <input type="checkbox" name="fancy-checkbox-primary{{i}}" id="fancy-checkbox-primary{{i}}" autocomplete="off" (click)="addDoctorSuggest(suggestion)" />
    <div class="[ btn-group ]">
      <label for="fancy-checkbox-primary{{i}}" class="[ btn btn-default active ] suggestion-item">
        {{suggestion.description}}
      </label>
      <label for="fancy-checkbox-primary{{i}}" class="[ btn btn-primary ] suggestion-checkbox">
        <span class="[ glyphicon glyphicon-ok ]"></span>
        <span> </span>
      </label>
    </div>
  </div>
</div>
