
<div class="container">

    <div class="row">
      <div class="col-md-12">
        <img style="float: right;" src="/images/logo.jpg" height="30%" width="30%"/>
        <h3 style="float: right;margin-top: 30px">שלום {{theUser.name}}</h3>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
    <span> מזהה משתמש: </span>{{theUser.id}}<br/>
    <span> מזהה שותף: </span>{{theUser.partnerId}}
    </div>
  </div>

  <div class="card card-outline-primary text-xs-center">
    <div class="card-block">
      <h3 class="card-title">משימות</h3>
      <blockquote class="card-blockquote">
        <honey-agenda [agendaList]="agendaList" (onShowLocation)="ShowLocationFromTask($event)" (addTask)="addTask($event)">Loading Agenda
        </honey-agenda>
      </blockquote>
    </div>
  </div>

  <div class="card card-outline-primary text-xs-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <honey-chat [chatList]="chatList" [user]="theUser" (addChat)="addChat($event)" >Loading Chat</honey-chat>
      </blockquote>
    </div>
  </div>
  <div class="card card-outline-primary text-xs-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
      <where-r-u></where-r-u>
      </blockquote>
    </div>
  </div>

</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#newUser">Open Modal</button>
<div class="modal fade show in" id="newUser" #myModal role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">משתמש חדש</h4>
      </div>
      <div class="modal-body">
        <h2>הירשם</h2>
        <input type="text" class="form-control" placeholder="שם"  [(ngModel)]="theUser.name"/>
        <input type="text" class="form-control" placeholder="שם של שותף" [(ngModel)]="theUser.partnerName"/>
        <h2>כבר רשום</h2>
        <input type="text" class="form-control" placeholder="מזהה" [(ngModel)]="theUser.id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addUser($event)">שמור</button>
      </div>
    </div>
  </div>
</div>
