<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello XXX</title>
</head>
<body>
    <h1>Hello XXX</h1>
    <br>
    <button onclick="window.location.href='../newMeetingComponent/new.meeting.component.html'">קבע פגישה חדשה</button>
    <br>
    <button onclick="window.location.href='../myMeetingsComponent/my.meeting.component.html'">סטטוס פגישות קיימות</button>
    <br>
    <button onclick="window.location.href='../myMeetingsComponent/my.meeting.component.html'">מענה לזימונים לפגישות</button>
</body>
</html>
