<div class="container">
  <div class="login-container">
    <div id="output"></div>

    <div ><img src="logo.png" alt=".Core" height="120" width="170"></div>
    <div class="form-box">
      <input  type="text" name="id" placeholder="הזן ת.ז" [(ngModel)]="loginPatient.id"  maxlength="10" >
      <input type="text" name="name" placeholder="הזן שם"[(ngModel)]="loginPatient.name">
      <button class="btn btn-info btn-block login" (click)="EnterUser(false)" [disabled]="isDisableButtons()" >כניסה כמטופל</button>
      <button class="btn btn-info btn-block login" (click)="EnterUser(true)" [disabled]="isDisableButtons()">כניסה כרופא</button>

    </div>

  </div>
</div>
