<div class="container">
  <div class="row">
    <img (click)="GoToLogin()" src="logo.png" class="logo-pointer" alt=".Core" height="120" width="170">
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">פרטי החולה</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2 pull-right">
          <p>שם החולה:</p>
        </div>
        <div class="col-lg-3 pull-right">
          <p>{{patient.name}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 pull-right">
          <p>ת.ז:</p>
        </div>
        <div class="col-lg-3 pull-right">
          <p>{{patient.id}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 pull-right">
          <p>החולה מרגיש:</p>
        </div>
        <div class="col-lg-3 pull-right">
          <p *ngFor="let symptom of symptoms">{{symptom.description}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 pull-right">
          <p>סטטוס הבקשה:</p>
        </div>
        <div class="col-lg-3 pull-right">
          <p>{{requestStatus}}</p>
        </div>
      </div>
    </div>

  </div>


  <div class="panel panel-primary" [hidden]="patientRequest.suggestions == undefined || patientRequest.suggestions.length == 0">
    <div class="panel-heading">המלצות הרופא</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3 pull-right">
          <p *ngFor="let suggest of patientRequest.suggestions">{{suggest.description}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row doctor-title"   [hidden]="!isDoctorView">
    <suggestions (suggestionClicked)="suggestionClicked($event)"></suggestions>
    <button class="btn btn-primary" [disabled]="suggestions == undefined || suggestions.length == 0" (click)="updateRequest()">עדכן המלצות</button>

  </div>


</div>
